.body1{
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

.logo{
  width: 70%;
  margin-top: 23%;
  margin-left: 10%;
}
.secinfo1{
  position: absolute;
  background-color: grey;
  padding-left: 17%;
  padding-right: 7%;
  height: 100%;
  transform: translateX(-100%);
  background-image: url("../img/foto1.png");
}
.secinfo2{
  position: absolute;
  background-color: grey;
  padding-left: 17%;
  padding-right: 7%;
  height: 100%;
  transform: translateX(-100%);
  background-image: url("../img/foto2.png");
}
.secinfo3{
  position: absolute;
  background-color: grey;
  padding-left: 17%;
  padding-right: 7%;
  height: 100%;
  background-image: url("../img/foto6.png");
}
.secimg1{
  position: absolute;
  background-image: url("../img/foto3.png");
  background-size: cover;
  height: 100%;
  transform: translateX(100%);
}

.secimg2{
  position: absolute;
  background-image: url("../img/foto4.png");
  background-size: cover;
  height: 100%;
  transform: translateX(100%);
}
.secimg3{
  position: absolute;
  background-color: grey;
  height: 100%;
  background-image: url("../img/foto5.png");
}
.secbtn{
  background-color: transparent;
  position: absolute;
  height: 100%;
}
.label{
  color: black;
}

.titulo{
  margin-top: 48%;
  color: #01A9DB;
  font-family: 'Kaushan Script', cursive;
  font-size: 44px;
}
.titulo1{
  margin-top: 48%;
  color: grey;
  font-family: 'Timmana', sans-serif;
  font-size: 44px;
}

.info{
  color: #A4A4A4;
  font-family: 'Ruda', sans-serif;
  font-size: 18px;
}

.iconmenu{
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 30px;
  margin-left: 1%;
  cursor: pointer;
}

.menu{
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 300px;
  background-image: url("../img/menu.png");
  background-size: cover;
  left: -300px;
}

.menu a{
  font-family: 'Russo One', sans-serif;
  color: grey;
  display: block;
  font-size: 20px;
  margin-top: 10%;
  text-decoration: none;
}

.btn1{
position: absolute;
border-radius: 100%;
left: 2%;
top: 30%;
}
.btn2{
position: absolute;
border-radius: 100%;
left: 2%;
top: 40%;
}
.btn3{
position: absolute;
border-radius: 100%;
left: 2%;
top: 50%;
}
.btn4{
position: absolute;
border-radius: 100%;
right: 0;
top: 60%;
}

.iconcerrar{
  position: absolute;
  font-size: 30px;
  color: white;
  right: 25px;
  cursor: pointer;
}

.btnlog{
  margin-top: 14%;
  margin-left: 5%;
  background-color: #00ff00;
  border-color: transparent;
  color: white;
  border-radius: 8px 0px 0px 8px;
}
.btnreg{
  margin-top: 14%;
  margin-left: -2%;
  background-color: #acabab;
  border-color: transparent;
  color: black;
  border-radius: 0px 8px 8px 0px;
}

#iconcerrar:hover{
  color: #00ff00;
}

.formulariologin{
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  margin-top: 50%;
  padding-top: 100px;
  z-index: -6;
  position: absolute;
  width: 80%;
}


.fondogris{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  margin-left: -1%;
  background-color: rgba(28, 28, 28, 0.5);
}

.btnlogin{
  width: 100%;
  background-color: grey;
  color: white;
  transition: 0.5s;
}

.inputlogin{
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: transparent;
  position: relative;
  z-index: 50;
  transition: 0.5s;
}

.labelform{
  position: absolute;
  margin-top: -7%;
  margin-left: 5%;
  z-index: 2;
  transition: 0.5s;
}

.inputlogin:focus ~ .labelform,
.inputlogin:valid ~ .labelform{
  transform: translateY(-130%);
  transition: 0.5s;
  color: green;
  border-bottom-color: green;
  border-width: 5px;
}

.form-control:focus {
    /* border-color: #66afe9; */
    /* outline: 0; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6); */
}

.logoform{
  margin-top: -49%;
  margin-left: 18%;
  position: absolute;
  width: 50%;
}


/*------ DASHBOARD ----------*/
.menudash{
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: #1C1C1C;
  transform: translateX(-250px);
}

.iconmenudash{
  position: absolute;
}
/*.container-fluid{
  padding-right: 0;
  padding-left: 0;
}*/

.enlaces{
  font-size: 24px;
  margin-top: 10%;
  color: grey;
  display: block;
  text-decoration: none;
}

a:focus,a:hover{
 text-decoration: none;
 color: grey;
}

.iconcerrardash{
  position: absolute;
  font-size: 30px;
  color: white;
  right: 25px;
  cursor: pointer;
}

.iconcerrardash:hover{
  color: orange;
}

.iconmenudash {
    position: absolute;
    margin-left: 2%;
    margin-top: 0.5%;
    color: black;
    font-size: 27px;
    cursor: pointer;
}

#frm_c_user{
  margin-top: 20%;
  z-index: -5;
}

.fondo{
  position: absolute;
  z-index: -1;
  background-color: black;
  width: 100%;
  height: 100%;
}
